<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Academy_Modulo1><!-- debe de ser igual a lo que hemos declarado en el archivo app/etc/modules. -->
			<!-- Ahora quieren que el número de version este relacionado con la version de Magetno.  los tres primeros
			digitos son los que mas relacion van a tener con la version de Magento, el último relacionado con la version del módulo -->
			<version>1.6.0.0</version><!-- El número que tengo en el fichero de instalación debe corresponder con la version de mi módulo. -->
		</Academy_Modulo1>
	</modules>
	<global>
	<!-- Esto lo tengo que configurar una única vez, dado que las demas veces ya  -->
		<blocks>
			<acy_modulo1><!-- Esto es alias de tu módulo.por es el mismo nombre en todo el xml -->
			<!-- este nombre tiene que ser el mismo  para la definicion del bloque como para
			la actualización del layout.
			 -->
				<class>Academy_Modulo1_Block</class>
			</acy_modulo1>
		</blocks>
		<models>
			<acy_modulo1><!-- Utilizo la misma clase que para los bloques. -->
				<class>Academy_Modulo1_Model</class><!-- Ya tengo una raiz de clases de tipo modelo para todo mi módulo. -->
				<resourceModel>acy_modulo1_resource</resourceModel><!-- aquí tengo que poner la asociación con el modelo de recurso que tiene que ser el mismo nombre que el de 
				abajo. -->
			</acy_modulo1>
			<acy_modulo1_resource>
                <class>Academy_Modulo1_Model</class>
                <resourceModel>acy_modulo1_resource</resourceModel>
                <entities>
                    <blog_post>
                        <table>blog_post</table>
                    </blog_post>
                </entities>
         	</acy_modulo1_resource>
		
		</models>
		<resources>
            <acy_modulo1_setup>
                <setup>
                    <module>Academy_Modulo1</module>
                </setup>
            </acy_modulo1_setup>
        </resources>
	</global>
	
	<frontend>
		<layout>
			<updates>
			<!-- me permite crear un archivo de modificación de layout. -->
			<!-- asi es como decimos que tome mi layout. -->
				<acy_modulo1>
					<file>acy_modulo1.xml</file>
					<!-- Este archivo es mejor ponerlo en el layout de base, dado que lo va a encontrar siempre
					por que va a caer en el final del sistema de cascada de Magento.
					file: es el archivo que será buscado en el layout. -->
				</acy_modulo1>
			</updates>
		</layout>
		 <routers>
            <academy>
                <use>standard</use>
                <args>
                    <module>Academy_Modulo1</module>
                    <frontName>academy</frontName>
                </args>
            </academy>
        </routers>
	</frontend>
	
</config>
<!-- 
academy/blog/view
academy=> "Academy_Modulo1"
blog =>   Blog + Controller =>BlogController
view =>   view + Action =>método viewAction
 -->